:root {
  --texto: #fff;
  --azul1: #37435D;
  --azul2: #42466B;
  --azul3: #2B324E;
  --acentuado: #E9BD90;
  --fondo: #121F2F;
}

* {
  color: var(--texto);
}

p, a {
  font-size: 1.8em;
}

body {
  background-color: var(--fondo);

  padding: 1em;
}

header {
  display: flex;
  align-items: center;

}

header > div:first-child{
  width: 70%;
}

header > div:last-child {
  width: 30%;
}

.titulo-pagina {
  font-size: 3em;

  margin-bottom: 0;
}