:root {
  --azul-transp: #36c8ec62;
  --naranja: #e07935;
  --colorTexto: #fff;
}

* {
  color: var(--colorTexto);
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: black;

  margin-bottom: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav > h1 {
  font-size: 1.4em;
  text-decoration: underline;

  height: 100%;
  width: 25%;

  padding-left: 0.3em;
}

nav > section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end;
  align-items: center;

  width: 75%;

  padding-right: 1em;
}

nav > section > a {
  font-size: 1.2em;
}

header {
  background-image: url("../img/TunedIn_BooksfromtheBanner_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;   
  
  height: 15em;

  margin-top: 0;
  padding-top: 0;
}

header {
  padding-left: 1em;
  padding-right: 1em;
}

header > h1 {
  font-size: 3em;

  margin-bottom: 0;
}

header > p {
  font-size: 1em;

  width: 30%;

  margin-top: 0;
}